# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*html

# Vi files
*swp
*swo

# PyCharm
.idea

#pysnpeff/config/commands.txt
#local.json
#local_execution.sh
data/cache
dependencies/snpEff/
dependencies/ensembl-vep

__pycache__

STDOUT_warnings.txt
